workflows
.gitignore
.github
commitlint.config.js
release.config.js
rollup.config.js
.eslintignore
.eslintrc.js
.lintstagedrc.js
.prettierrc.js
sonar-project.properties
.husky
.idea
.editorconfig
/index.ts
/src
/example
tsconfig.json
