.gitignore
.github
.run
commitlint.config.js
release.config.js
rollup.config.js
.eslintignore
.eslintrc.js
.lintstagedrc.js
.mocharc.json
.prettierrc.js
sonar-project.properties
.husky
.idea
.editorconfig
/index.ts
/src
/example
/coverage
/typing
tsconfig.json
tsconfig.checks.json
CODE_OF_CONDUCT.md
CONTRIBUTING.md
SECURITY.md
logo.png
.nvmrc
__mocks__
__helpers__
__tests__
.c8rc.json
